.resource {
    z-index: 2;
    position: absolute;
    display: inline-block;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.img-resource {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 0;

}
.played-resource {
    /* margin-top: -21%; */
    margin-left: 2%;
}