.resource {
    position: absolute;
    display: flex;
    cursor: grab;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.img-resource {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: fill;
}
.played-resource {
    margin-left: 3%;
}