.board-container {
    grid-area: board;

    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #3f6eee;
    align-items: center;
    justify-content: center;
}

.board {
    display: inline-block;
    position: relative;
    /* height:auto;
    width:auto; */
    /* margin: auto; */
}