 .hand {
     position: relative;
     display: flex;
     width: 100fr;
     height: 100fr;
     overflow: visible;
 }

 .holding-cards {
    position: sticky;
    margin: auto;
    width: 50%;
    height: 50%;
}
 
 .img-hand,
 .img-thumb {
     display: inline-block;
     position: absolute;
     width: 60%;
     height: 60%;
     overflow: hidden;
     align-self: flex-end;
 }
 
 .img-hand {
     z-index: 0;
 }
 
 .img-thumb {
     z-index: 2;
     pointer-events: none;
 }
 
 .hand-1 {

 }
 
 .hand-2 {
     transform: scaleY(-1);
 }
 
 .hand-3 {
     transform: scaleY(-1) scaleX(-1);
 }
 
 .hand-4 {
     transform: scaleX(-1);
 }