 .resource-area-container {
     position: relative;
     display: grid;
     z-index: 2;
     border: 3px solid rgba(253, 253, 253, 0.164);
     grid-template-columns: 100fr;
     grid-template-rows: 20fr 80fr;
     grid-template-areas: "controls" "resources";
 }
 
 .resource-area {
     position: relative;
     grid-area: resources;
     width: 50%;
     height: 50%;
     align-self: center;
     justify-self: center;
 }
 
 .resource-area-controls {
     grid-area: controls;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     justify-content: space-evenly;
 }
 
 .resource-area-control {
     background: transparent;
     border: 0px;
     position: relative;
     width: 80%;
     font-size: 2vw;
     justify-items: center;
 }
 
 .resource-area-control a {
     color: white;
     font-family: Helvetica, sans-serif;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     background-color: lightgray;
     display: block;
     position: relative;
     text-shadow: 1px 1px 2px #000;
     box-shadow: inset 0 1px 0 #FFE5C4, 0 10px 0 rgba(211, 211, 211, 0.472);
     border-radius: 5px;
 }
 
 .resource-area-control a:active {
     top: 10px;
     background-color: rgb(73, 68, 62);
     box-shadow: inset 0 1px 0 rgb(102, 102, 101), inset 0 -3px 0 #272625;
 }