 .resource-area-container {
     position: relative;
     display: grid;
     z-index: 2;
     border: 3px solid rgba(253, 253, 253, 0.164);
     grid-template-columns: 100fr;
     grid-template-rows: 20fr 80fr;
     grid-template-areas: "controls" "resources";
 }
 
 .resource-area-container.invisible {
     display: none;
 }
 
 .resource-area {
     position: relative;
     display: flex;
     grid-area: resources;
     width: 50%;
     height: 50%;
     justify-self: center;
     align-self: center;
     align-content: center;
     justify-content: center;
 }
 
 .resource-area-container-controls {
     grid-area: controls;
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-items: center;
     justify-content: space-evenly;
 }
 
 .resource-area-control {
     background: transparent;
     position: relative;
     width: 80%;
 }