    .hexagon {
        display: flex;
        position: relative;
        width: 100px;
        height: 57.74px;
        background-color: #b0f7b3;
        margin: 28.87px 0;
        border-left: solid 5px #d2ce33;
        border-right: solid 5px #d2ce33;
    }
    
    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 70.71px;
        height: 70.71px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 9.6447px;
    }
    
    .hexagon:before {
        top: -35.3553px;
        border-top: solid 7.0711px #d2ce33;
        border-right: solid 7.0711px #d2ce33;
    }
    
    .hexagon:after {
        bottom: -35.3553px;
        border-bottom: solid 7.0711px #d2ce33;
        border-left: solid 7.0711px #d2ce33;
    }
    
    .empty {
        border: 3px salmon solid;
    }
    
    .hovered {
        background: #f4f4f4;
        border-style: dashed;
    }