.card {
    position: absolute;
    display: none;
}

.img-card {
    display: block;
    width: 100%;
}

.resource-card {
    display: block;
}

.rotate {
    transform: rotate(-90deg);
}

.flip {
    transform: rotateZ(-90deg) rotateY(70deg);
    transition: transform .73s linear;
}

.played-resource-card {
    display: flex;
    position: absolute;
    /*make relative to use as flex-items*/
    z-index: 0;
    width: 60%;
    /* height: 100%; */
    transform-origin: bottom left;
    /* width: max-content; */
    flex-grow: 0.5;
    flex-shrink: 0.3;
    flex-basis: 0;
    flex: 0 0 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}