.card {
    position: absolute;
    display: none;
    width: 50%;
}

@supports (-moz-appearance:meterbar) {
    .card {
        width: auto;
    }
}

.img-card {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.resource-card {
    display: block;
}

.rotate {
    transform: rotate(-90deg);
}

.flip {
    transform: rotateZ(-90deg) rotateY(70deg);
    transition: transform .73s linear;
}

.played-resource-card {
    position: absolute;
    overflow: visible;
    transform-origin: bottom left;
    width: 50%;
}

.played-resource-card:hover {
    z-index: 10;
}

.played-img-resource-card {
    z-index: 10;
}

.played-resource-card:last-child,
.played-resource-card:hover {
    overflow: visible;
}